@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --color-body-light : #F3F4F6 ;
    --color-body-dark : #27272A ;
    --color-brn100 : #ECE0D1 ;
    --color-brn300 : #DBC1AC ;
    --color-brn600 : #967259 ;
    --color-brn900 : #634832 ;

    
    --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.05);

    --spacing-xs:480px;
    
    --font-Poppins :"Dosis-ExtraBold";
    --font-DanaBold :"Dana-Bold";
    --font-DanaMedium :"Dana-Medium";
    --font-DanaRegular :"Dana-Regular";
    --font-MorabbaBold :"Morabba-Bold";
    --font-MorabbaLight :"Morabba-Light";
    --font-MorabbaMedium :"Morabba-Medium";
    
    --tracking-tightest : -0.065em;
    --blur-b6 : 6px ;
    --breakpoint-xs: 480px; 
    --radius-4xl :2rem; 

}


@layer utilities{
    .bg-home-desktop{
        @apply bg-no-repeat;
        background-image: url("../public/images/24_Header-Analyze/headerBgDesktop.png") ;
    }
    
.bg-home-mobile{
    @apply bg-no-repeat;
    background: url("../public/images/CoffeeShop-Files/headerBgMobile.webp") ;
}
.category-banner1{
background-image: linear-gradient(270deg ,
  rgba(0, 0, 0, 0.6)33.8%,
  rgba(243, 244, 246, 0.1)100%
  ),
  url("./images/CoffeeShop-Files/categories/category-right.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.category-banner2{
  background-image: linear-gradient(270deg ,
  rgba(0, 0, 0, 0.6)33.8%,
  rgba(243, 244, 246, 0.1)100%
  ),
  url("./images/CoffeeShop-Files/categories/category-left.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}
 .products {
    
    background: linear-gradient(
        rgba(243, 244, 246, 0.65),
        rgba(243, 244, 246, 0.65)
      ),
      url("../public/images/CoffeeShop-Files/body-bg.png");
  }

  html.dark .products {
    background-image: url("../public/images/CoffeeShop-Files/body-bg.png");
  }
} 

@layer components {
  .section-title {
    @apply md:text-4xl text-xl font-MorabbaMedium text-zinc-700 dark:text-white;
  }

  .section-subtitle {
    @apply inline-block text-lg md:text-3xl font-MorabbaLight mt-1 md:mt-1.5 text-zinc-700 dark:text-white;
  }

  .section-link {
    @apply flex items-center md:gap-x-1 rounded-md tracking-tightest text-base md:text-xl text-orange-300 md:hover:bg-orange-300/20 transition-colors h-11 pr-3 pl-1;
  }
}

@layer utilities {
 
}
/*@layer base {
  body {
    @apply bg-no-repeat;
    background-image: url("../public/images/CoffeeShop-Files/headerBgDesktop.webp");
  }
}*/

@layer utilities {
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
}
/* @utility container {
@apply mx-auto px-4  lg:px-2.5 w-[75%] ;
} */
@utility container {
  @apply mx-auto px-4 lg:px-2.5 max-w-[1200px];
}

@layer base{
@font-face {
    font-family: "Dosis-ExtraBold";
    src:local("Poppins-Bold"), url("../public/font/Dosis-ExtraBold.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
    
}
@font-face {
    font-family: "Dana-Bold";
    src: url("../public/font/Dana/woff2/Dana-Bold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Dana-Medium";
    src: url("../public/font/Dana/woff2/Dana-Medium.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Dana-Regular";
    src: url("../public/font/Dana/woff2/Dana-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Morabba-Bold";
    src: url("../public/font/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Morabba-Light";
    src: url("../public/font/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Morabba-Medium";
    src: url("../public/font/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}
}